.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #49a8c5, #ac0b5b);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper {
  background-color: #e60e68;
  min-width: 550px;
  min-height: 620px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px rgb(148, 211, 253);
  margin-bottom: 10px;
}

/* this is bad practice ;)
sorry
*/
img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
